<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <?include Includes.wxi ?>
  <Product Id='$(var.ProductId)'
      UpgradeCode='$(var.ProductUpgradeCode)' Name='$(var.ProductName) $(var.ProductVersion)'
      Version='$(var.ProductVersion).0' Manufacturer='!(loc.ProductManufacturer)'
      Language='$(var.ProductLanguage)' Codepage='1252'>

    <Package Id='*'
        Description='!(loc.PackageDescription)' Keywords='!(loc.PackageKeywords)'
        Comments='!(loc.PackageComments)' Manufacturer='!(loc.PackageManufacturer)'
        InstallerVersion='200' InstallScope="perMachine"
        Languages='$(var.PackageLanguages)' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder' Name='PFiles'>
        <!-- fragments.wxs -->
      </Directory>
      <!-- Step 1: Define the directory structure -->
      <Directory Id="ProgramMenuFolder" Name="Programs">
         <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductDirectoryName)" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
        <!-- no desktop shortcut -->
      </Directory>
    </Directory>

    <SetProperty Id="APIURL"
        Value="https://scala-lang.org/api/3.x/"
        Sequence="execute"
        Before="CreateShortcuts" />
    <SetProperty Id="LicenseURL"
        Value="https://www.scala-lang.org/license/"
        Sequence="execute"
        Before="CreateShortcuts" />

    <!-- Step 2: Add the shortcut(s) to our installer package -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcuts" Guid="$(var.ApplicationShortcuts)">
        <Shortcut Id="ScalaREPL" 
            Name="!(loc.ShortcutScalaREPLName)" 
            Description="!(loc.ShortcutScalaREPLDescription)"
            Target="[System64Folder]cmd.exe"
            Arguments='/k "call ^"[#repl.bat]^""'
            WorkingDirectory="PersonalFolder">
          <Icon Id="ScalaREPLIcon" SourceFile="!(bindpath.rsrc)\favicon.ico" />
        </Shortcut>
        <Shortcut Id="ScalaAPI"
            Name="!(loc.ShortcutScalaAPIName)"
            Description="!(loc.ShortcutScalaAPIDescription)"
            Target="[APIURL]">
          <Icon Id="APIIcon" SourceFile="!(bindpath.rsrc)\network.ico" />
        </Shortcut>
        <Shortcut Id="ScalaLicense"
            Name="!(loc.ShortcutScalaLicenseName)"
            Description="!(loc.ShortcutScalaLicenseDescription)"
            Target="[LicenseURL]">
          <Icon Id="LicenseIcon" SourceFile="!(bindpath.rsrc)\network.ico" />
        </Shortcut>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\$(var.CompanyName)\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <Shortcut Id="UninstallProduct"             
            Name="!(loc.ShortcutUninstallProductName)"
            Description="!(loc.ShortcutUninstallProductDescription)"
            Target="[System64Folder]msiexec.exe"
            Arguments="/x [ProductCode]" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='ProgramFiles64Folder'>
      <Component Id="ApplicationEnvironment" Guid="$(var.ApplicationEnv)" KeyPath="yes">
        <Environment Id="SCALA3_HOME"
            Action="set" Name="SCALA3_HOME" Value="[INSTALLDIR]"
            Permanent="no" System="yes" />
        <!-- https://www.firegiant.com/wix/tutorial/com-expression-syntax-miscellanea/environmentally-friendly/ -->
        <Environment Id="UpdatePath"
            Name="PATH" Value="[bin]" 
            Action="set" Permanent="no" System="yes" Part="last" Separator=";" />
      </Component>
    </DirectoryRef>

    <Feature Id='AppComponents'
        Title="!(loc.FeatureAppComponentsTitle)" Level='1'
        Description="!(loc.FeatureAppComponentsDescription)">
      <ComponentGroupRef Id='PackFiles' />
      <!-- Step 3: Tell WiX to install the shortcut(s) -->
      <ComponentRef Id="ApplicationShortcuts" />
      <ComponentRef Id="ApplicationEnvironment" />
    </Feature>

    <Icon Id="Favicon" SourceFile="!(bindpath.rsrc)\favicon.ico" />
    <Property Id="ARPPRODUCTICON" Value="Favicon" />

    <WixVariable Id="WixUILicenseRtf" Value="!(bindpath.rsrc)\LICENSE.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="!(bindpath.rsrc)\BannerTop.bmp" />  <!-- 493 x 58 -->
    <WixVariable Id="WixUIDialogBmp" Value="!(bindpath.rsrc)\Dialog.bmp" />  <!-- 493 x 312 -->

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_InstallDir" />
  </Product>
</Wix>
