<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="$(var.ProductId)"
    UpgradeCode="$(var.ProductUpgradeCode)" Name="MyApp"
    Version="$(var.ProductVersion).0" Manufacturer="MyCompany, Inc."
    Language="1033" Codepage="1252">

    <Package Id='*'
      Description="MyApp Installer" Keywords='Installer'
      Comments="Create application and uninstall shortcuts" Manufacturer="MyCompany, Inc."
      InstallerVersion='200' InstallScope="perMachine"
      Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="MyApp"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MyApp.exe" Guid="PUT-GUID-HERE">
        <File Id="MyApp.exe" Source="!(bindpath.pack)\MyApp.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="AppComponents"
      Title="MyApp" Level="1"
      Description="MyApp Components">
      <ComponentRef Id="MyApp.exe" />
    </Feature>
  </Product>
</Wix>
