<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Includes.wxi ?>
  <Fragment>
    <DirectoryRef Id="ProgramFiles64Folder">
      <Directory Id="INSTALLDIR" Name="$(var.ProductDirectoryName)">
        <Component Id="LICENSE" Guid="PUT-GUID-HERE">
          <File Id="LICENSE" KeyPath="yes" Source="$(var.pack)\LICENSE" />
        </Component>
        <Component Id="NOTICE" Guid="PUT-GUID-HERE">
          <File Id="NOTICE" KeyPath="yes" Source="$(var.pack)\NOTICE" />
        </Component>
        <Directory Id="bin" Name="bin">
          <Component Id="fsc" Guid="PUT-GUID-HERE">
            <File Id="fsc" KeyPath="yes" Source="$(var.pack)\bin\fsc" />
          </Component>
          <Component Id="fsc.bat" Guid="PUT-GUID-HERE">
            <File Id="fsc.bat" KeyPath="yes" Source="$(var.pack)\bin\fsc.bat" />
          </Component>
          <Component Id="repl.bat" Guid="PUT-GUID-HERE">
            <File Id="repl.bat" KeyPath="yes" Source="!(bindpath.rsrc)\repl.bat" />
          </Component>
          <Component Id="scala" Guid="PUT-GUID-HERE">
            <File Id="scala" KeyPath="yes" Source="$(var.pack)\bin\scala" />
          </Component>
          <Component Id="scala.bat" Guid="PUT-GUID-HERE">
            <File Id="scala.bat" KeyPath="yes" Source="$(var.pack)\bin\scala.bat" />
          </Component>
          <Component Id="scalac" Guid="PUT-GUID-HERE">
            <File Id="scalac" KeyPath="yes" Source="$(var.pack)\bin\scalac" />
          </Component>
          <Component Id="scalac.bat" Guid="PUT-GUID-HERE">
            <File Id="scalac.bat" KeyPath="yes" Source="$(var.pack)\bin\scalac.bat" />
          </Component>
          <Component Id="scaladoc" Guid="PUT-GUID-HERE">
            <File Id="scaladoc" KeyPath="yes" Source="$(var.pack)\bin\scaladoc" />
          </Component>
          <Component Id="scaladoc.bat" Guid="PUT-GUID-HERE">
            <File Id="scaladoc.bat" KeyPath="yes" Source="$(var.pack)\bin\scaladoc.bat" />
          </Component>
          <Component Id="scalap" Guid="PUT-GUID-HERE">
            <File Id="scalap" KeyPath="yes" Source="$(var.pack)\bin\scalap" />
          </Component>
          <Component Id="scalap.bat" Guid="PUT-GUID-HERE">
            <File Id="scalap.bat" KeyPath="yes" Source="$(var.pack)\bin\scalap.bat" />
          </Component>
        </Directory>
        <Directory Id="doc" Name="doc">
          <Component Id="LICENSE.md" Guid="PUT-GUID-HERE">
            <File Id="LICENSE.md" KeyPath="yes" Source="$(var.pack)\doc\LICENSE.md" />
          </Component>
          <Component Id="License.rtf" Guid="PUT-GUID-HERE">
            <File Id="License.rtf" KeyPath="yes" Source="$(var.pack)\doc\License.rtf" />
          </Component>
          <Component Id="README" Guid="PUT-GUID-HERE">
            <File Id="README" KeyPath="yes" Source="$(var.pack)\doc\README" />
          </Component>
          <Directory Id="internal" Name="internal">
            <Component Id="tastyreader.md" Guid="PUT-GUID-HERE">
              <File Id="tastyreader.md" KeyPath="yes" Source="$(var.pack)\doc\internal\tastyreader.md" />
            </Component>
          </Directory>
          <Directory Id="licenses" Name="licenses">
            <Component Id="apache_jna.txt" Guid="PUT-GUID-HERE">
              <File Id="apache_jna.txt" KeyPath="yes" Source="$(var.pack)\doc\licenses\apache_jna.txt" />
            </Component>
            <Component Id="bsd_asm.txt" Guid="PUT-GUID-HERE">
              <File Id="bsd_asm.txt" KeyPath="yes" Source="$(var.pack)\doc\licenses\bsd_asm.txt" />
            </Component>
            <Component Id="bsd_jline.txt" Guid="PUT-GUID-HERE">
              <File Id="bsd_jline.txt" KeyPath="yes" Source="$(var.pack)\doc\licenses\bsd_jline.txt" />
            </Component>
            <Component Id="mit_jquery.txt" Guid="PUT-GUID-HERE">
              <File Id="mit_jquery.txt" KeyPath="yes" Source="$(var.pack)\doc\licenses\mit_jquery.txt" />
            </Component>
          </Directory>
          <Directory Id="tools" Name="tools">
            <Component Id="fsc.html" Guid="PUT-GUID-HERE">
              <File Id="fsc.html" KeyPath="yes" Source="$(var.pack)\doc\tools\fsc.html" />
            </Component>
            <Component Id="index.html" Guid="PUT-GUID-HERE">
              <File Id="index.html" KeyPath="yes" Source="$(var.pack)\doc\tools\index.html" />
            </Component>
            <Component Id="scala.html" Guid="PUT-GUID-HERE">
              <File Id="scala.html" KeyPath="yes" Source="$(var.pack)\doc\tools\scala.html" />
            </Component>
            <Component Id="scalac.html" Guid="PUT-GUID-HERE">
              <File Id="scalac.html" KeyPath="yes" Source="$(var.pack)\doc\tools\scalac.html" />
            </Component>
            <Component Id="scaladoc.html" Guid="PUT-GUID-HERE">
              <File Id="scaladoc.html" KeyPath="yes" Source="$(var.pack)\doc\tools\scaladoc.html" />
            </Component>
            <Component Id="scalap.html" Guid="PUT-GUID-HERE">
              <File Id="scalap.html" KeyPath="yes" Source="$(var.pack)\doc\tools\scalap.html" />
            </Component>
            <Directory Id="css" Name="css">
              <Component Id="style.css" Guid="PUT-GUID-HERE">
                <File Id="style.css" KeyPath="yes" Source="$(var.pack)\doc\tools\css\style.css" />
              </Component>
            </Directory>
            <Directory Id="images" Name="images">
              <Component Id="external.gif" Guid="PUT-GUID-HERE">
                <File Id="external.gif" KeyPath="yes" Source="$(var.pack)\doc\tools\images\external.gif" />
              </Component>
              <Component Id="scala_logo.png" Guid="PUT-GUID-HERE">
                <File Id="scala_logo.png" KeyPath="yes" Source="$(var.pack)\doc\tools\images\scala_logo.png" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="lib" Name="lib">
          <Component Id="jline_3.20.0.jar" Guid="PUT-GUID-HERE">
            <File Id="jline_3.20.0.jar" KeyPath="yes" Source="$(var.pack)\lib\jline-3.20.0.jar" />
          </Component>
          <Component Id="jna_5.8.0.jar" Guid="PUT-GUID-HERE">
            <File Id="jna_5.8.0.jar" KeyPath="yes" Source="$(var.pack)\lib\jna-5.8.0.jar" />
          </Component>
          <Component Id="scala_compiler.jar" Guid="PUT-GUID-HERE">
            <File Id="scala_compiler.jar" KeyPath="yes" Source="$(var.pack)\lib\scala-compiler.jar" />
          </Component>
          <Component Id="scala_library.jar" Guid="PUT-GUID-HERE">
            <File Id="scala_library.jar" KeyPath="yes" Source="$(var.pack)\lib\scala-library.jar" />
          </Component>
          <Component Id="scala_reflect.jar" Guid="PUT-GUID-HERE">
            <File Id="scala_reflect.jar" KeyPath="yes" Source="$(var.pack)\lib\scala-reflect.jar" />
          </Component>
          <Component Id="scalap_2.13.7.jar" Guid="PUT-GUID-HERE">
            <File Id="scalap_2.13.7.jar" KeyPath="yes" Source="$(var.pack)\lib\scalap-2.13.7.jar" />
          </Component>
        </Directory>
        <Directory Id="man" Name="man">
          <Directory Id="man1" Name="man1">
            <Component Id="fsc.1" Guid="PUT-GUID-HERE">
              <File Id="fsc.1" KeyPath="yes" Source="$(var.pack)\man\man1\fsc.1" />
            </Component>
            <Component Id="scala.1" Guid="PUT-GUID-HERE">
              <File Id="scala.1" KeyPath="yes" Source="$(var.pack)\man\man1\scala.1" />
            </Component>
            <Component Id="scalac.1" Guid="PUT-GUID-HERE">
              <File Id="scalac.1" KeyPath="yes" Source="$(var.pack)\man\man1\scalac.1" />
            </Component>
            <Component Id="scaladoc.1" Guid="PUT-GUID-HERE">
              <File Id="scaladoc.1" KeyPath="yes" Source="$(var.pack)\man\man1\scaladoc.1" />
            </Component>
            <Component Id="scalap.1" Guid="PUT-GUID-HERE">
              <File Id="scalap.1" KeyPath="yes" Source="$(var.pack)\man\man1\scalap.1" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="PackFiles">
      <ComponentRef Id="LICENSE" />
      <ComponentRef Id="NOTICE" />
      <ComponentRef Id="fsc" />
      <ComponentRef Id="fsc.bat" />
      <ComponentRef Id="repl.bat" />
      <ComponentRef Id="scala" />
      <ComponentRef Id="scala.bat" />
      <ComponentRef Id="scalac" />
      <ComponentRef Id="scalac.bat" />
      <ComponentRef Id="scaladoc" />
      <ComponentRef Id="scaladoc.bat" />
      <ComponentRef Id="scalap" />
      <ComponentRef Id="scalap.bat" />
      <ComponentRef Id="LICENSE.md" />
      <ComponentRef Id="License.rtf" />
      <ComponentRef Id="README" />
      <ComponentRef Id="tastyreader.md" />
      <ComponentRef Id="apache_jna.txt" />
      <ComponentRef Id="bsd_asm.txt" />
      <ComponentRef Id="bsd_jline.txt" />
      <ComponentRef Id="mit_jquery.txt" />
      <ComponentRef Id="fsc.html" />
      <ComponentRef Id="index.html" />
      <ComponentRef Id="scala.html" />
      <ComponentRef Id="scalac.html" />
      <ComponentRef Id="scaladoc.html" />
      <ComponentRef Id="scalap.html" />
      <ComponentRef Id="style.css" />
      <ComponentRef Id="external.gif" />
      <ComponentRef Id="scala_logo.png" />
      <ComponentRef Id="jline_3.20.0.jar" />
      <ComponentRef Id="jna_5.8.0.jar" />
      <ComponentRef Id="scala_compiler.jar" />
      <ComponentRef Id="scala_library.jar" />
      <ComponentRef Id="scala_reflect.jar" />
      <ComponentRef Id="scalap_2.13.7.jar" />
      <ComponentRef Id="fsc.1" />
      <ComponentRef Id="scala.1" />
      <ComponentRef Id="scalac.1" />
      <ComponentRef Id="scaladoc.1" />
      <ComponentRef Id="scalap.1" />
    </ComponentGroup>
  </Fragment>
</Wix>